


      
          <div class="col-sm-2  d-none d-sm-none d-md-block d-lg-block d-xl-block">
              <h3 class="progress-title">Filters</h3>
              <div class="progress">
                  <div class="progress-bar" >
                      <span class="progress-icon fa fa-circle"></span>
                  </div>
              </div>
              <span style="margin-top: -28px;
              position: absolute;">100</span>
          </div>
  

  
          <div class="btn-group">
                <button type="button" class="btn btn-primary" style="border-radius: 10px;" >Apply</button>
                
              </div>