<div class="search">

            <i class="fa" style="color: white;
            font-size: 31px;"(click)="newChange()">&#xf07a;</i>
            <span > {{this.cartService?.cartItem?.length}}</span>
            <!-- <i class="fa badge fa-shopping-cart" style="font-size:24px" >{{this.cartService?.cartItem?.length}}</i> -->
      <!-- <span><i style="cursor:pointer;font-size: 25px;color: white;"class="fa fa-shopping-cart" (click)="newChange()"></i><span class="badge badge-light">{{this.cartService?.cartItem?.length}}</span></span> -->
     
</div>
