


/* .search{
    float: right;
    position: relative;
   
    left: 153px;
    bottom: 27px;  
} */
span{
    font-size: 14px;
    font-weight: 900;
    position: absolute;
    border:1px solid black;
     border-radius: 60%; 
    height: 23px;
    top: 21px;
    padding: -3px;
    padding-left: 4px;
    width: 22px;
    color: white;
    background: #ff0047;
}